<br><div class="shadow p-3 mb-5 bg-white rounded">
  
<h2>Edit product!</h2>
<p>On this page you can simply edit an exisitng product.</p>

<div *ngIf="error" class="alert alert-danger" role="alert">
    {{error}}
</div>
<form (ngSubmit)="submit()" #productForm="ngForm" ngForm *ngIf="productToEdit">
  <div class="mb-3">
    <label for="slug" class="form-label">Slug</label>
    <input type="text" class="form-control"  name="slug" ngModel required [(ngModel)]="productToEdit.slug">
  </div>
  <div class="mb-3">
    <label for="name" class="form-label">Product name</label>
    <input type="text" class="form-control"  name="name" ngModel required [(ngModel)]="productToEdit.name">
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Product description</label>
    <input type="text" class="form-control"  name="description" ngModel required [(ngModel)]="productToEdit.description">
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Price</label>
    <input type="number" class="form-control" name="price" number required min="0.01" ngModel [(ngModel)]="productToEdit.price">
  </div>
  <div class="mb-3">
    <label for="image" class="form-label">Image</label>
    <input type="link" class="form-control" name="image" ngModel required link [(ngModel)]="productToEdit.image">
  </div>
  <span class="help-block" *ngIf="!productForm.valid && productForm.touched">
    Make sure all the values are correct. Then you can press this button
  </span>
  <button type="submit" class="btn btn-primary btn-block" [disabled]="!productForm.valid">Submit</button>
</form>
</div>