<div class="container">
    <div class="row">
      <div class="col">
          <img class="product-image" src="https://file.coffee/u/R_30Lnokdw.jpeg">
      </div>
      <div class="col details">
          <h1>Waterval</h1>
          <span class="pricing bg-sandy">&euro; 6,-</span>
          <p>Dit heb je echt niet nodig in je leven maar boeien ruurd.</p>
          <p>Fucking hell</p>
          <button type="button" class="btn btn-primary bg-indigo">Deze ga ik kaufen</button>
      </div>
    </div>
  </div>