<h2>Product Info</h2>
<p>Get to know the product you want to order.</p>

<div *ngIf="product">
    <div class="row">
      <div class="col-md-12 col-lg-6 details">
        <div class="card shadow p-3 mb-5">
          <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">&euro; {{product.price}} / piece</h6>
            <p class="card-text">{{product.description}}</p>
            <button type="button" class="btn btn-primary bg-indigo card-link" (click)="addToCart()">Add to cart!</button>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6 ">
          <img class="shadow rounded" src="{{product.image}}">
      </div>
    </div>
  </div>
