<br>
<h2>Cart</h2>
<p>Check out the amazing list of product you've added to your cart!</p>
<div *ngIf="playboiCarti" class="row">
    <div class="col-3">
        <h3>Summary</h3>
        You've added a total of {{countProducts()}} products to your cart. This will cost you &euro; {{ getTotalPrice() }}
    </div>
    <div class="col-9">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Amount</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let item of playboiCarti; index as i;'>
            <th scope="row">
                <button type="button" class="btn btn-primary btn-sm">+</button>
                {{item.amount}}
                <button type="button" class="btn btn-primary btn-sm">-</button>
            </th>
            <td><a href="/product/{{item.product[0].slug}}">{{item.product[0].name}}</a></td>
            <td>&euro; {{item.product[0].price}}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
