<br>
<h2>Cart</h2>
<p>Check out the amazing list of product you've added to your cart!</p>
<div *ngIf="cartData" class="row">
    <div class="col-3">
      <app-summary [items]="cartData" [clearCart]="clearCart"></app-summary>
    </div>
    <div class="col-9">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Amount</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          <app-item *ngFor="let item of cartData;"
            [item]="item"
            (updated)="update($event)"
            >
          </app-item>
        </tbody>
      </table>
    </div>
</div>
