<h2>Admin Dashboard</h2>
<p>Howdy Admin! Welcome to the admin dashboard. 
    This place gives you more information what you can do as an admin.</p>

<h4><i class="fas fa-plus"></i> Make a product</h4>
<p>You can simply add a product by going to the <a href="/products">products</a> page and click the "Add new product" button.</p>

<h4><i class="fas fa-edit"></i> Edit a product</h4>
<p>You can simply edit a product by hitting the "edit" button under an item from the <a href="/products">products</a> page.</p>

<h4><i class="fas fa-eye"></i> View all orders</h4>
<p>You can view all orders on <a href="/admin/orders">this</a> page.</p>

<h4><i class="fas fa-th-large"></i> Manage an order</h4>
<p>You can manage an order from the order detail page, you can get there by clicking an order from the orders list <a href="/admin/orders">here</a>.</p> 