<h2>Register!</h2>
<p>I see you want to join the club. Cool! Fill in the form below for the following cool features!</p>
<ul>
    <li>Making orders</li>
    <li>Viewing your orders</li>
    <li>Become cool!</li>
</ul>
<form>
    <div class="mb-3">
      <label for="userName" class="form-label">Username</label>
      <input type="text" class="form-control" id="userName">
    </div>
    <div class="mb-3">
      <label for="firstName" class="form-label">First name</label>
      <input type="text" class="form-control" id="firstName">
    </div>
    <div class="mb-3">
      <label for="lastName" class="form-label">Last name</label>
      <input type="text" class="form-control" id="lastName">
    </div>
    <div class="mb-3">
      <label for="street" class="form-label">Street</label>
      <input type="text" class="form-control" id="street">
    </div>
    <div class="mb-3">
      <label for="streetNumber" class="form-label">Street number</label>
      <input type="text" class="form-control" id="streetNumber">
    </div>
    <div class="mb-3">
      <label for="postalCode" class="form-label">Postalcode</label>
      <input type="text" class="form-control" id="postalCode">
    </div>
    <div class="mb-3">
      <label for="country" class="form-label">Country</label>
      <input type="text" class="form-control" id="country">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password">
    </div>
    <button type="submit" class="btn btn-primary btn-block">Submit</button>
  </form>