<h2>Order Information</h2>
<br>
<div *ngIf="error" class="alert alert-danger" role="alert">
    {{error}}
</div>
<div *ngIf="order">
<div *ngIf="!order.paid && !admin" class="alert alert-primary" role="alert">
    You haven't paid yet! Please make a SEPA transaction to <b>NL69FAKE1337133769</b>. A website administrator will put your order on paid whenever they've received the money
</div>

<div class="row">
    <div class="col-6" > 
        <div class="card" *ngIf="user">
        <div class="card-body">
            <h5 class="card-title">User Information</h5>
            <p class="card-text">Some info about who made the order</p>
    <b><i class="fas fa-user-shield"></i> {{user.firstName}} {{user.lastName}}</b><br>
       <i class="fas fa-thumbtack"></i> {{user.street}} {{user.streetNumber}}, {{user.postalCode}}, {{user.city}}, {{user.country}}<br>
       <i class="fas fa-envelope-square"></i> <a href="mailto:{{user.email}}">{{user.email}}</a>
        </div>
        </div>
    </div>
    <div class="col-6">
<div *ngIf="admin" class="card">
    <div class="card-body">
        <h5 class="card-title">Admin Panel</h5>
        <p class="card-text">Simply change things about this order, real speed.</p>
        <button class="btn btn-primary card-link" (click)="togglePaid()">Toggle paid</button>
        <button class="btn btn-primary card-link" (click)="toggleDelivered()">Toggle delivered</button>
        <button class="btn btn-danger card-link" (click)="deleteOrder()">Delete order</button>
    </div>
</div>
    </div>

</div>
<br>

<div class="extra">
    <div *ngIf="order.paid">
        <span class="badge badge-success">PAID</span>
    </div>
    <div *ngIf="!order.paid">
        <span class="badge badge-danger">UNPAID</span>
    </div>
    <div *ngIf="order.delivered">
        <span class="badge badge-success">DELIVERED</span>
    </div>
    <div *ngIf="!order.delivered">
        <span class="badge badge-danger">NOT DELIVERED</span>
    </div>
</div>
    
<p *ngIf="!error">Awesome, this is information about order <span class="badge badge-primary">{{order._id}}</span></p>

<br>
<div class="row font-weight-bold">
    <div class="col-3">
        Amount
      </div>
      <div class="col-6">
        Product
      </div>
      <div class="col-3">
        Price
      </div>
</div>
<hr>
<app-order-detail-item *ngFor="let item of order.products"
[item]="item">
</app-order-detail-item>

<p>The total price of this order is <b>&euro;{{getTotalPrice()}}</b>.</p>
<p>
    <i>If you clicked a product and it doesn't show an item, that might be cause the item got removed from the shop or got edited.</i>
</p>
</div>