/* You can add global styles to this file, and also import other style files */
.bg-soda {
    background-color: #F95738 !important;
}

.bg-sandy {
    background-color: #EE964B !important;
}

.bg-yellow {
    background-color: #F4D35E !important;
}

.bg-lemon {
    background-color: #FAF0CA !important;
}

.bg-indigo {
    background-color: #0D3B66 !important;
}